.e{
    padding: 10px;
    background-color: rgb(214, 221, 221);
}

.g{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.v{
    margin-left: 30px;
}

