.i{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
 }

 .mar{
    border-radius: 5px;
    width: 900px;
    height: 550px;
}

@media screen and (max-width: 720px ) { 
    .mar{
        width: 550px;
        height: 350px;
    }
}

@media screen and (max-width: 420px) {
    .mar{
        width: 100%;
        height: auto;
    }
}