.g{
   margin-left: 10px;
}

.d{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.s{
    background-color: rgb(172, 199, 234);
}
