.mx{
    background-color: rgb(78, 36, 8);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.jj{
    margin-top: 30px;
    padding-bottom: 20px;
}

.cc{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aa{
    background-color:rgb(105, 47, 8);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.lo{
    width: 900px;
    height: 550px;
}



@media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    .lo{
        width: 500px;
        height: 350px;
    }
}


@media screen and (max-width: 420px) {
    /*changes reflects on screen with a width of 720px and below*/
    .lo{
        width: 100%;
        height: auto;
    }
}